:root {
    --box-shadow-focus: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
    --box-shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.20),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.20),
    0 1px 8px 0 rgba(0, 0, 0, 0.12);
    --box-shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.20);
    --box-shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.20);
    --box-shadow-8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.20);
    --box-shadow-16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0  6px 30px 5px rgba(0, 0, 0, 0.12),
    0  8px 10px -5px rgba(0, 0, 0, 0.20);
    --box-shadow-24dp: 0  9px 46px  8px rgba(0, 0, 0, 0.14),
    0 11px 15px -7px rgba(0, 0, 0, 0.12),
    0 24px 38px  3px rgba(0, 0, 0, 0.20);
}

.u-shadow-focus {
    box-shadow: var(--box-shadow-focus);
}

.u-shadow-2dp {
    box-shadow: var(--box-shadow-2dp);
}

.u-shadow-3dp {
    box-shadow: var(--box-shadow-3dp);
}

.u-shadow-4dp {
    box-shadow: var(--box-shadow-4dp);
}

.u-shadow-6dp {
    box-shadow: var(--box-shadow-6dp);
}

.u-shadow-8dp {
    box-shadow: var(--box-shadow-8dp);
}

.u-shadow-16dp {
    box-shadow: var(--box-shadow-16dp);
}

.u-shadow-24dp {
    box-shadow: var(--box-shadow-24dp);
}

.u-shadow-i-h {
    position: relative;
}

.u-shadow-i-h::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: -1px;
    right: -1px;
    background: linear-gradient(to right, var(--color-background-dark), transparent 9px, transparent calc(100% - 9px), var(--color-background-dark));
    pointer-events: none;
}
