---
import BaseLayout from "@layouts/BaseLayout.astro";

import HeroSection from "@components/blocks/sections/HeroSection.astro";
import ShowcaseSection from "@components/blocks/sections/ShowcaseSection.astro";

import "@styles/util.css";
---

<BaseLayout title="David Ivain">
    <div class="s-main">
        <HeroSection />
        <ShowcaseSection />
    </div>
</BaseLayout>
