<div class="s-herosection" id="herosection">
    <img
        src="https://avatars.githubusercontent.com/u/32299050?v=4"
        class="s-herosection__image | u-shadow-8dp"
    />
    <div class="s-herosection__content">
        <h1 class="s-herosection__title">
            Hello, welcome to my world!
        </h1>
        <p class="s-herosection__description">
            My name is David and I'm a web developer. Donec in nunc magna.
            Vivamus convallis magna urna, nec mattis nunc efficitur nec. Aliquam
            semper ligula ac dolor molestie vulputate. Phasellus non nisi nulla.
        </p>
    </div>
</div>
<style>
    .s-herosection {
        padding-top: 8px;
        padding-inline: 24px;
    }

    .s-herosection__image {
        width: 192px;
        height: min(192px, auto);
        max-width: 100%;
        border-radius: 50%;
        margin: 56px auto 32px;
        display: block;
    }

    .s-herosection__title {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
        font-size: var(--font-size-xxxxl);
        text-align: left;
        margin-block: 0;
        font-weight: bold;
        color: var(--color-text-on-dark);
    }

    .s-herosection__description {
        font-style: italic;
        color: var(--color-text-on-dark);
    }
</style>
