<div class="s-herosection" id="herosection">
    <img
        src="https://avatars.githubusercontent.com/u/32299050?v=4"
        class="s-herosection__image | u-shadow-8dp"
    />
    <div class="s-herosection__content">
        <h1 class="s-herosection__title">
            <span class="s-code">Hello,</span> welcome to my <span
                class="s-code">world!</span
            >
        </h1>
        <p class="s-herosection__description">
            My name is David and I'm a <span class="s-code">web developer</span>
            (mainly). I can do a bunch of things with
            <span class="s-code">JavaScript</span>
            and <span class="s-code">CSS</span>.<br />
            But I can do a lot more like
            <span class="s-code">mobile development</span>
            using <span class="s-code">Flutter</span> for example. I even know some
            <span class="s-code">Java</span> and
            <span class="s-code">C/C++</span>
            thanks to my education.<br />
            Right now, I'm employed by
            <a class="s-code" href="https://www.capgemini.com/">CapGemini</a>
            as a front-end developer.
        </p>
    </div>
</div>
<style>
    .s-herosection {
        padding-top: 8px;
        padding-inline: 24px;
    }

    .s-herosection__image {
        width: 192px;
        height: min(192px, auto);
        max-width: 100%;
        border-radius: 50%;
        margin: 56px auto 32px;
        display: block;
    }

    .s-herosection__title {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
        font-size: var(--font-size-xxxxl);
        text-align: left;
        margin-block: 0;
        font-weight: bold;
        color: var(--color-text-on-dark);
    }

    .s-code {
        font-family: monospace;
        display: inline-block;
        padding: 0px 0.4em;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .s-herosection__description {
        color: var(--color-text-on-dark);
    }
</style>
