.s-herosection {
    padding-inline: 24px;
}

.s-herosection__image {
    width: 192px;
    height: min(192px, auto);
    max-width: 100%;
    border-radius: 50%;
    margin: 56px auto 32px;
    display: block;
}

.s-herosection__title {
    font-size: var(--font-size-xxxxl);
    text-align: left;
    margin-block: 0;
}

.s-herosection__description {
    font-style: italic;
    color: var(--color-text-on-dark);
}