.s-projects {
    display: flex;
    overflow: auto;
    scroll-snap-type: x proximity;
    padding-inline: 8px;
    padding-bottom: 4px;
}

.s-projects::-webkit-scrollbar {
    background-color: transparent;
    height: 4px;
}

.s-projects::-webkit-scrollbar-track {
    border-radius: 2px;
}

.s-projects::-webkit-scrollbar-thumb {
    background-color: var(--color-text-on-dark);
    border-radius: 2px;
}

.s-projects__item {
    scroll-snap-align: center;
}

.s-projects__item:not(:last-child) {
    margin-right: 8px;
}

.s-projectitem {
    flex: 200px 0 0;
    height: 200px;
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-projectitem__title {
    font-size: var(--font-size-ml);
    margin: 0 0 0.5em;
}

.s-projectitem__description {
    font-size: var(--font-size-sm);
}

.s-projectitem__description p {
    margin-block: 0.25em;
}

.s-projectitem__description span.highlight {
    text-decoration: underline;
}