<footer id="footer" class="s-footer">
    <div>
        <a href="https://fonts.google.com/specimen/Montserrat">
            Montserrat font (Google Fonts)
        </a>
    </div>
    <div><a href="https://remixicon.com">Remix Icon</a></div>
    <div>
        <a
            href="https://www.freepik.com/free-photo/aerial-shot-beautiful-tree-forest-covered-with-fog-bled-slovenia_9184586.htm#query=background&position=3&from_view=keyword"
        >
            Image by wirestock
        </a> on Freepik
    </div>
</footer>
<style>
    .s-footer {
        background-color: var(--color-background-dark);
        padding: 24px;
        border-radius: 16px 16px 0 0;
        color: var(--color-text-on-dark);
        box-shadow: var(--box-shadow-8dp);
    }
</style>
