<div class="s-wip-banner">WIP</div>
<style>
    .s-wip-banner {
        position: fixed;
        top: 24px;
        right: 24px;
        background-color: darkred;
        color: white;
        padding: 4px 64px;
        transform: translate(50%, -50%) rotate(45deg);
        font-size: var(--font-size-m);
        font-weight: bold;
        z-index: 10000;
    }
</style>
